* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right, #9b59b6, #1abc9c);
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn1, .btn2 {
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #f1c40f;
    outline: none;
    color: #f1c40f;
    transition: 1s;
    position: relative;
    margin: 0 20px;
}

.btn1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: width 1s ease-in;
    background-color: tomato;
}

.btn1:hover::before {
    width: 100%;
}

.btn2:hover {
    transform: rotate(360deg);
}

.btn3 {
    display: inline-block;
    padding: 22px 52px;
    margin: 0 20px;
    background-color: transparent;
    color: #f1c40f;
    border:none;
    outline: none;
    position: relative;
}

.btn3 span {
    display: block;
    position: absolute;
    background-color: #f1c40f;
    transition: all 0.25s linear;
}

.btn3 span:nth-child(1){
    top: 0;
    left: 0;
    height: 2px;
    width: 0;
}

.btn3 span:nth-child(2){
    top: 0;
    right: 0;
    height: 0;
    width: 2px;
    transition-delay: 0.25s;
}

.btn3 span:nth-child(3){
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition-delay: 0.5s;
}

.btn3 span:nth-child(4){
    bottom: 0;
    left: 0;
    height: 0;
    width: 2px;
    transition-delay: 0.75s;
}

.btn3:hover span:nth-child(odd) {
    width: 100%;
}

.btn3:hover span:nth-child(even) {
    height: 100%;
}