* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right, #9b59b6, #1abc9c);
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn1, .btn2 {
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #f1c40f;
    outline: none;
    color: #f1c40f;
    transition: 1s;
    position: relative;
    margin: 0 20px;
}

.btn1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: width 1s ease-in;
    background-color: tomato;
}

.btn1:hover::before {
    width: 100%;
}

.btn2:hover {
    transform: rotate(360deg);
}